@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: rgb(248, 240, 128);
    height: 100%;
    width: 100%;
  }

.startScreen{
    display: block;
    position:absolute;
    background-color: rgb(248, 240, 128);
    width : 100%;
    height: 100%;
    text-align: center;
    font-weight: bolder;
    margin-top:8px;
}
.startScreen label{
    position:relative;
    top: 30%;
    text-align: center;
    font-size: 90px;
}

.startScreen p{
    position:relative;
    top: 70%;
    height: 1%;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

.startScreen button{
    cursor: pointer;
    background-color: rgb(248, 240, 128);
    box-shadow:0 0 5px rgb(117, 113, 63);
    border: none;
    position: absolute;
    width : 20%;
    height: 80px;
    left: 40%;
    top: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;

}

.gameOver {
    display: none;
    position:absolute;
    background-color: rgb(248, 240, 128);
    width : 100%;
    height: 100%;
    padding-top: 40px;
    text-align: center;
    margin-top:8px;
    margin-bottom:0px;
}

.gameOver label{
    font-size: 30px;
}
.gameOver h1{
    margin-top: -20px;
    font-size: 90px;
}
.endScore h1{
    display:flex;
    text-align: center;
    font-size: 90px;
}

.gameOver p{
    position: absolute;
    width : 100%;
    height: 100%;
    top: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.lboard{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 5% 25%;
}

.leaderboard-results{
    margin-top: -4%;
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    box-shadow:0 0 5px rgb(117, 113, 63);
    border-radius: 15px;
    text-align:left;
    border-collapse: collapse;
}


.leaderboard-results tr {
    font-size:30px;
  }

.leaderboard-results tr th {
    font-size:30px;
    font-weight:bold;

  }
.leaderboard-results thead th {
    width: 500px;
    padding: 5px 0px 0px 150px;
    font-size:20px;
    font-weight:bold;

  }

.leaderboard-results tbody td {
    width: 500px;
    padding: 5px 0px 0px 155px;
    font-size:20px;
  }

.gameOver button{
    cursor: pointer;
    background-color: rgb(248, 240, 128);
    box-shadow:0 0 5px rgb(117, 113, 63);
    border: none;
    position: absolute;
    width : 20%;
    height: 50px;
    left: 40%;
    top: 85%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;

}

.container{
    width : 1000px;
    background: rgb(248, 240, 128);
}
.container .title {
    font-size: 45px;
    margin-bottom: 5px;
}
.timer {
    color: #000000;
}
.timer p{
    font-size: 20px;
    margin-bottom:5px;
    margin-top:0px;
}
.feedback .score{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(248, 240, 128);
    width: 10%;
    border-radius: 15px;
    height :50px;
    margin-bottom : 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    text-underline-position:20px ;
    padding-top:20px;
  }
 .currscore{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:5px;
  }


.container .subheading{
    font-size : 10px;
    font-weight: bold;
}


.squares button{
    border: none;
    outline: none;
    color: #000000;
    background: #e7e7e7;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: calc(100% / 6 - 10px);
    height: 180px;
    float: left;
    transition: all 0.3s ease;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;

}


.letters button{
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: calc(100% / 6 - 10px);
    transition: all 0.3s ease;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.buttons button{
    border: none;
    outline: none;
    background: #ffffff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}



